{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        
    </head>
    <body>
    <header>
        <nav>
            <h1 class="page_heading">Details</h1>
            <h3 class="page_link"><a href={% url "show_mags" %}>Back to Magazine List</a></h3>
        </nav>
    </header>
    <main>
        <div>
        <img src= {{ mag.image }} width=300px>
        <h1 class="title"> {{ mag.title }} </h1>
        <p>Genre: {{ mag.genre.first }} </p>
        <h3> {{ mag.description }} </h3>
        <br>
        {% for issue in mag.issues.all %}
        <h3>Issue Title: <em>{{ issue.title }} </em></h3>
        <img src= {{ issue.cover_image }} width=200px>
        <p>Issue No. {{ issue.issue_num }} </p>
        <p>Issue Date: {{ issue.issue_date }} </p>
        <p>Description: {{ issue.description }}</p>
        <p>Pages: {{ issue.page_count }} </p>
        <p>Issued: {{ mag.cycle }}</p>
        {% endfor %}
        </div>
        <a href={% url "update_mag" mag.pk %}><input type="submit" value="Edit"></a>
        <a href={% url "delete_mag" mag.pk %}><input type="submit" value="Delete"></a>
    </main>
        <script src="" async defer></script>
    </body>
</html>