{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Genre Detail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <header>
        <h1>Genres</h1>
    <body>
        {% for genre in genre %}
        <div class="genre-card">
            <h1>
               <p>{{ genre.name }}</p>
            </h1>
        {% endfor %}

        
        <script src="" async defer></script>
    </body>
</html>