{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Magazine List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <h1 class="page_heading">Magazine List</h1>
                <h3 class="page_link"><a href={% url "show_books" %}>Book List</a></h3>
            </nav>
        </header>
        <main>
            {%for mag in mags%}
                <div class="mag-card">
                    <h1 class="title">
                        <a href={% url "show_mag" mag.pk %}> {{ mag.title }}</a>
                    </h1>
                    <a href={% url "show_mag" mag.pk %}>
                        <img src= {{ mag.image }} width=300px>
                    </a>
                    <p>{{ mag.description }}</p>
                    <p>{{ mag.cycle }}</p>
                </div>
                <a href={% url "update_mag" mag.pk %}><input type="submit" value="Edit"></a>
            {% endfor %}
        </main>
        <script src="" async defer></script>
    </body>
</html>