{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magazine Genres</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
        <div class="magazines-card">
            <h2>Magazines in the {{ genre.name }} genre:</h2>
           {% for mag in genre.genre.all %}
            <h3><a href={% url 'show_mag' mag.pk %}> {{ mag.title }}</a></h3>
          {% endfor %}           
        </div>
  </main>
</body>

</html>