img {
    border-color: rgb(255, 255, 255);
    border: 3px solid;
    margin: 0px
}

h1,
header {
    font-style: italic;
    color: rgb(43, 198, 226);
}

h3 {
    color: rgb(43, 198, 226)
}

.page_heading {
    font-style: italic;
    color: rgb(43, 198, 226);
    font-size: 35pt;
}

.title {
    font-style: italic;
    color: rgb(255, 255, 255);
}


.page_link {
    font-style: italic;
    color: rgb(43, 198, 226);
    background-color: rgb(209, 215, 227);
}


h2,
p {
    color: rgb(17, 194, 225);
}

main {
    background-color: rgb(209, 215, 227);
}


a {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(62, 153, 233);
}



body {
    text-indent: 3px;
}