{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        
    </head>
    <body>
        <header>
            <nav>
                <h1 class="page_heading">Details</h1>
                <h3 class="page_link"><a href={% url "show_mags" %}>Back to Book List</a></h3>
            </nav>
        </header>
    <main>
        <div>
        <img src= {{ book.image }} width=300px>
        <h1 class="title"> {{ book.title }} </h1>
        <h2> by {{ book.authors.first }} </h2>
        <br>
        <p> {{ book.description }}</p>
        <br>
        <p>Published: {{ book.published }}</p>
        <p>ISBN: {{ book.isbn_number }}</p>
        <p>Pages: {{ book.number_of_pages }}</p>
            
        <p>In print? {% if book.in_print %}
            Yes
        {% else %}
            No
        {% endif %}</p>
        </div>
        <a href={% url "update_book" book.pk %}><input type="submit" value="Edit"></a>
        <a href={% url "delete_view" book.pk %}><input type="submit" value="Delete"></a>
    </main>
        <script src="" async defer></script>
    </body>
</html>