{% extends '../base.html' %}

{% block content %}
    <body>
        <header>
            <nav>
                <h1 class="page_heading">Book List</h1>
                <h3 class="page_link"><a href={% url "show_mags" %}>Magazine List</a></h3>
            </nav>
        </header>
        <main>
            {%for book in books%}
                <div class="book-card">
                    <h1>
                        <a href={% url "show_book" book.pk %}><em>{{ book.title }}</em></a>
                    </h1>
                    <h2>by {{ book.authors.first }}</h2>
                    <p>{{ book.description }}</p>
                    
                    <a href={% url "show_book" book.pk %}>
                        <img src= {{ book.image }} width=300px>
                    </a>
                </div>
                
            {% endfor %}
        </main>
        <script src="" async defer></script>
    </body>
{% endblock %}

