{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Reviews</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<header class="page_heading">
    My Book Reviews
</header>
<body>
  <header>
  </header>
  <main class="book-grid">
    {% for user.book_reviews_by_this_user in bookreview.all %}
      <div class="review-card">
        <h2>{{ bookreview.book.title }}</h2>
        <p>{{ bookreview.text }}</p>
      </div>
    {% endfor %}
  </main>
</body>

</html>