{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/app.css' %}"></head>

<body>
    <main>
        <div>
            <h1>
                Edit a Book
            </h1>
        </div>
        <form method="POST" enctype="multipart/form-data">

            <!-- Security token -->
            {% csrf_token %}

            <!-- Using the formset -->
            {{ form.as_p }}
            
            <input type="submit" value="Submit">
        </form>
    </main>
    <script src="" async defer></script>
</body>

</html>